[Unit]
Description=TCC 2 Frontend - Digital Lean
Documentation=http://187.1.90.150:15000
After=network.target

[Service]
WorkingDirectory=/home/siemens/tcc2
Type=simple
ExecStart=/usr/bin/node /home/siemens/tcc2/build/dev-server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
